{% extends "base.html" %}
{% block title %}Adicionar Categoria{% endblock %}

{% block content %}
<div class="categoria-form-container">
    <h1 class="categoria-form-title">Adicionar nova categoria</h1>

    <form method="POST" class="categoria-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="nome">Nome da categoria:</label>
            <input type="text" id="nome" name="nome" class="input-categoria" required>
        </div>
        <button type="submit" class="btn-categoria salvar">Salvar</button>
    </form>

    <a href="{% url 'livros:pesquisar' %}" class="btn-categoria voltar">Voltar para adicionar livro</a>
</div>
{% endblock %}
