{% extends "base.html" %}
{% block title %}Deletar Categoria{% endblock %}

{% block content %}
<div class="delete-container">
    <h1>Deletar Categoria</h1>
    <p>Tem certeza que deseja deletar a categoria <strong>"{{ object.nome }}"?</strong>?</p>

    <form method="post" action="{% url 'livros:deletar_categoria' object.id %}">
        {% csrf_token %}
        <button type="submit" class="btn-categoria btn-success">Sim, deletar</button>
        <a href="{% url 'livros:listar_categorias' %}" class="btn-categoria btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
